---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Food">
  <main>
    <div class="flex items-center justify-center h-screen">Our Food</div>
  </main>
</Layout>

<style></style>
