---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Food">
    <main>
        <div class="flex flex-col h-screen">
            <div class="basis-1/5 bg-zinc-200 flex flex-col justify-center">
                <div class="text-center">top</div>
            </div>
            <div class="basis-3/5 bg-zinc-400 flex flex-col justify-center">
                <div class="flex justify-center">
                    <div
                        class="text-center px-24 py-6 text-6xl bg-zinc-900 text-zinc-50 rounded-2x"
                    >
                        Our Food
                    </div>
                </div>
            </div>
            <div class="basis-1/5 bg-zinc-600 flex flex-col justify-center">
                <div class="flex justify-center">
                    <div
                        class="text-center px-12 py-1.5 bg-zinc-900 text-zinc-50 rounded-2xl uppercase hover:bg-zinc-800 hover:text-zinc-100"
                    >
                        s t a r t
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style></style>
